@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

body { 
  background-color: #c0edfd;
  font-family: 'Open Sans Hebrew Condensed';
  direction: rtl;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

#machine {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

#title {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  
  font-size: 59px;
  font-weight: bold;
  margin-top: -210px;
  white-space: nowrap;
}

#reason-title {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  
  margin-left: 8px;
  margin-top: -120px;
  font-size: 26px;
  font-weight: bold;
  width: 220px;
  
  text-align: center;
}

#reason-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  
  margin-top: -15px;
  margin-left: 8px;
  font-size: 26px;
  width: 500px;
  text-align: center;
}

#handle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  
  margin-top: 15px;
  margin-left: 335px;
  cursor: pointer;
}

#join-likud {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  
  margin-top: 100px;
  margin-left: calc(140px - 5px);
  cursor: pointer;
}

#share {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  
  margin-top: 100px;
  margin-left: calc(-140px + 5px);
  cursor: pointer;
}

.button-background-join {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  
  margin-top: 97px;
  margin-left: calc(140px - 5px);
}

.button-background-share {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  
  margin-top: 97px;
  margin-left: calc(-140px + 5px);
}

.button-background-part {
  float: left;
}

.button-background-join-mid {
  width: 160px;
  height: 64px;
}

.button-background-share-mid {
  width: 150px;
  height: 64px;
}

#credits {
  z-index: 10;
  position: fixed;
  top: 95%;
  transform: translate(-50%,-100%);
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  left: 50%;
  color: grey;
  font-size: 17px;
  text-align: center;
}

#new-likud {
  z-index: 10;
  position: fixed;
  top: 83.5%;
  transform: translate(-50%,-100%);
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  left: 50%;
  color: black;
  font-size: 20px;
  text-align: center;
  direction: ltr;
}